.header {
    height: var(--header-height);
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-title {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
    &:hover {
        text-decoration: none;
        color: var(--primary-color);
    }
}

.header-actions-unlogin,
.header-actions-user {
    display: flex;
    align-items: center;
}

.header-user-name {
    font-size: 1.6rem;
    margin-right: 12px;
}

.header-actions-btn,
.header-user-btn {
    font-size: 1.4rem;
    height: 32px;
    padding-bottom: 2px;
    border: none;
    &:hover {
        background-color: #4379ee;
    }
}
