@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #2563eb;
    --text-color: #1e293b;
    --header-height: 60px;
}

//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    color: var(--text-color);
}

ol,
ul {
    list-style: none;
}

a,
button,
input,
select,
textarea {
    font-family: inherit;
}

a {
    text-decoration: none;
}

// custom bootstrap styles
.text-primary {
    color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
}
